/* Global */

:root {
    --white: #FDFDFD;
    --lightgrey: #F5F5F5;
    --lightmedgrey: #b0b0b0;
    --medgrey: #6F6F6F;
    --darkgrey: #3D3D3D;
    --accent: #0065FD;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkgrey);
    background-color: var(--white);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    height: 100vh;
}

h1 {
    color: var(--accent);
    font-size: 2em;
    margin: 0 100px 0 0;
    font-weight: 800;
    display: inline-block;
}

h2 {
    color: var(--accent);
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
    font-weight: 700;
}

h3 {
    color: var(--accent);
}

h3, h4 {
    margin: 0 5px 0 0;
    font-weight: 700;
    display: inline-block;
}

a:link, a:visited, a:active {
    color: var(--accent);
}

a:hover {
    text-decoration: none;
}

button {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    color: var(--darkgrey);
    background-color: var(--lightgrey);
    border: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

button:hover .material-icons-round {
    color: var(--accent);
}

.material-icons-round {
    color: var(--medgrey);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--lightgrey);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

::selection {
    background: #FFEB3B;
}

::-moz-selection {
    background: #FFEB3B;
}

/* Header */

header  {
    background-color: var(--lightgrey);
    padding: 20px 10vw;
    display: grid;
    grid-template-columns: 1fr auto;
}

h1 .material-icons-round {
    color: var(--accent);
    transform: translateY(3px);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

nav button {
    border: 0;
}

nav button .material-icons-round {
    margin-right: 5px;
    transform: translateY(5px);
}

nav button:hover .material-icons-round {
    color: var(--accent);
}

/* Main */

main {
    padding: 20px 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr;
}

main button {
    background-color: var(--white);
}

#a-head, #b-head, #c-head, #d-head {
    background-color: var(--lightgrey);
    line-height: 1em;
    padding: 20px;
    border: 1px solid var(--medgrey);
    border-bottom: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.quad-num {
    background-color: var(--accent);
    color: var(--white);
    font-weight: 800;
    font-size: 1.4em;
    line-height: 2em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right: 20px;
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
}

#b-head .quad-num {
    background-color: #2869ca;
}

#b-head h2 {
    color: #2869ca;
}

#c-head .quad-num {
    background-color: #4d6c9b;
}

#c-head h2 {
    color: #4d6c9b;
}

#d-head .quad-num {
    background-color: var(--medgrey);
}

#d-head h2 {
    color: var(--medgrey);
}

#a, #b, #c, #d {
    overflow: auto;
    border: 1px solid var(--lightmedgrey);
    border-top: 0;
}

#a-head, #b-head, #c-head, #d-head {
    border: 1px solid var(--lightmedgrey);
    border-bottom: 0;
}

#a-head, #a, #c-head, #c {
    border-right: 0;
}

#a, #b {
    border-bottom: 0;
}

/* Tasks */

.task {
    padding: 10px;
    border-bottom: 1px solid var(--lightmedgrey);
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

.task:last-child {
    border: 0;
}

.edit {
    margin-right: 10px;
}

.task-deadline {
    grid-area: 2 / 1 / 3 / 5;
}

.task-category {
    grid-area: 3 / 1 / 4 / 5;
}

.task-notes {
    grid-area: 4 / 1 / 5 / 5;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.done, .done h3, .done h4 {
    text-decoration: line-through;
    color: var(--medgrey);
}

/* Dialogs & Forms */

dialog {
    background-color: var(--white);
    border: 1px solid var(--lightmedgrey);
    padding: 0;
}

#add-task-dialog header, #edit-task-dialog header, #cats-dialog header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
}

#add-task-form, #edit-task-form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
}

#add-cats-form, #delete-cats-form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

#add-cats-form {
    border-bottom: 1px solid var(--lightmedgrey);
}

fieldset {
    border: 0;
    padding: 0;
}

.title-fieldset {
    grid-area: 1 / 1 / 2 / 3;
}

.notes-fieldset {
    grid-area: 3 / 1 / 4 / 3;
}

#add-task-form button, #edit-task-form button {
    padding: 10px 20px;
    grid-area: 5 / 1 / 6 / 3;
}

#add-cats-form button, #delete-cats-form button {
    padding: 10px 20px;
}

#add-task-form button:hover, #edit-task-form button:hover, #add-cats-form button:hover, #delete-cats-form button:hover {
    color: var(--white);
    background-color: var(--accent);
}

input[type="text"], textarea, input[type="date"], select {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkgrey);
    background-color: var(--white);
    width: calc(100% - 12px);
    border: 1px solid var(--lightmedgrey);
    resize: none;
    padding: 5px;
}

select {
    width: 100%;
}

/* Footer */

footer {
    background-color: var(--lightgrey);
    padding: 20px 10vw;
    font-size: 0.9em;
}

/* Media Queries */

@media screen and (max-width: 800px) {

body {
    height: auto;
    background-color: var(--lightgrey);
}

header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

nav {
    grid-template-columns: auto auto 1fr;
    justify-items: start;
}

main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: var(--white);
}

#a {
    grid-area: 2 / 1 / 2 / 2;
}

#b-head {
    grid-area: 3 / 1 / 4 / 2;
}

#c {
    grid-area: 6 / 1 / 7 / 2;
    border-bottom: 0;
}

#a-head, #a, #c-head, #c {
    border-right: 1px solid var(--lightmedgrey);
}

}